<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/bootstrap.php" colors="true" stopOnFailure="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd" cacheDirectory=".phpunit.cache">
  <coverage includeUncoveredFiles="true">
    <report>
      <clover outputFile="clover.xml"/>
      <html outputDirectory="./reports"/>
      <text outputFile="php://stdout" showUncoveredFiles="false" showOnlySummary="false"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Coralogix Unit Tests Suit">
      <directory>tests/Coralogix/</directory>
    </testsuite>
  </testsuites>
  <logging/>
  <php>
    <ini name="date.timezone" value="UTC"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">src/Coralogix/</directory>
    </include>
  </source>
</phpunit>
